<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

	{% include head.html %}

	<body>
		<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="?">Acessibility Developer Guide</a>

			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="?">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="?">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="?">Disabled</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
						<div class="dropdown-menu" aria-labelledby="dropdown01">
							<a class="dropdown-item" href="?">Action</a>
							<a class="dropdown-item" href="?">Another action</a>
							<a class="dropdown-item" href="?">Something else here</a>
						</div>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="text" placeholder="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>

		</nav>


		<main class="main container" aria-label="Content">
			{{ content }}
		</main>

		<footer id="footer">
			<h1 class="sr-only">Fussbereich</h1>
			<div class="container">
				<div class="row">
					<div class="col-md-8 slogan">
						<p>
							<a href="https://github.com/jmuheim/base/">Accessibility Developer Guide</a>
							<span class="hidden-xs">Ein pragmatischer Leitfaden über Zugänglichkeit für Entwickler</span>
						</p>
					</div>
					<div class="col-md-4 copyright">
						<p>
							&copy;2015 <a href="http://www.muheimwebdesign.ch/">Zugang für alle</a>
						</p>
					</div>
				</div>
			</div>
		</footer>

		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
		<script src="{{ "/assets/js/bootstrap.min.js" | relative_url }}"></script>s

	</body>

</html>
